@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Francois+One&family=PT+Serif&family=Roboto:ital,wght@0,400;0,500;0,900;1,400;1,700&display=swap");

*{
    font-family: 'Roboto', sans-serif;
}
header, main{
    /* border: 1px solid brown; */
    width: 70vw;
    margin: auto;
}
p{
    /* border:1px solid brown; */
    float: left;
    font-size: 1.8rem;
}
#sub-tag{
    font-size: 0.7rem;
    margin-left: 5px;
}
#online{
    font-size: 0.8rem;
    color: green;
}
.emp{
    font-weight: 700;
}
#menu{
    display: flex;
    list-style-type: none;
    gap: 25px;
    justify-content: right;
}
li{
    margin-top: 40px;
}
a{
    text-decoration: none;
    color: black;
}
#search:focus{
    appearance: none;
    outline: none;
}
#search{
    border: none;
    background-color: rgb(226, 220, 220);
    border-radius: 15px;
}
main{
    display: flex;
}
#sec1{
    /* border: 1px solid gray; */
    height: 65vh;
    width: 34vw;
}
#sec2{
    /* border: 1px solid gray; */
    height: 65vh;
    width: 50vw;
}
img{
    width: 40vw;
}
h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 3.8rem;
    margin-top: 1rem;
}
#disc{
    font-size: 0.9rem;
    margin-top: 0;
}
#click{
    background-color: black;
    color: aliceblue;
    width: 100px;
    border-radius: 15px;
    font-weight: 500;
}
#userProfile {
    width: 10rem;
    display: block;
    margin-top: 2rem;
}
#scw{
    font-size: 1rem;
    font-weight: 600;
}
p i{
    font-size: 0.8rem !important;
}
#p-scw{
    margin-top: 0.8rem;
}
#logoImg{
    width: 1.4rem;
}